﻿@model IEnumerable<AccountingUnitCheck.data.Models.Flat>


<option selected="selected">Выберите номер квартиры...</option>
@foreach (var item in Model)
{
    <option value="@item.ID">@(item.FlatNumber)</option>
}
