﻿@model IEnumerable<AccountingUnitCheck.data.Models.House>

<option selected="selected">Выберите номер дома...</option>
@foreach (var item in Model)
{
    <option value="@item.ID">@(item.HouseNumber)</option>
}

