﻿@model AccountingUnitCheck.data.Models.LschetModel

<input type="hidden" id="lschetHidden" value="@Model.ID" />
<div id="lschet">
    <h3>Лицевой счет:</h3>    
    @if (Model == null)
    {
        <div class="danger">Лицевой счет не найден!</div>
    }
    else
    {
        <div class="form-group">@Model.Lschet</div>
    }
    
</div>