﻿@model string

<div id="ManagementCompany">
    <h3>Управляющая компания:</h3>
    @if (@Model == null)
    {
        <div class="form-group">Не найдена</div>
    }
    else
    {
        <div class="form-group">@Model</div>
    }
</div>
