﻿@model string

<div id="PassportWork">
    <h3>Паспортная работа:</h3>
    @if (@Model == null)
    {
        <div class="form-group">Не ведется</div>
    }
    else
    {
        <div class="form-group">@Model</div>
    }
</div>
