﻿@model IEnumerable<string>

<div id="Services">
    
    <h3>Услуги:</h3>
    @if (Model.Contains("11"))
    {
        <span class="icon-utbattery gi-3x text-success" title="Центральное отопление"></span>
    }
    else
    {
        <span class="icon-utbattery gi-3x text-muted" title="Центральное отопление"></span>
    }

    @if (Model.Contains("750"))
    {
        <span class="icon-uthouse gi-3x text-success" title="Капремонт"></span>

    }
    else
    {
        <span class="icon-uthouse gi-3x text-muted" title="Капремонт"></span>

    }

    @if (Model.Contains("383") || Model.Contains("384") || Model.Contains("546"))
    {
        <span class="icon-utelectricity gi-3x text-success" title="Электроэнергия"></span>
    }
    else
    {
        <span class="icon-utelectricity gi-3x text-muted" title="Электроэнергия"></span>
    }

    @if (Model.Contains("10") || Model.Contains("8"))
    {
        <span class="icon-utcrane gi-3x text-success" title="Водоснабжение"></span>
    }
    else
    {
        <span class="icon-utcrane gi-3x text-muted" title="Водоснабжение"></span>
    }

    @if (Model.Contains("1355") || Model.Contains("1455") || Model.Contains("1328") || Model.Contains("1416") || Model.Contains("4"))
    {
        <span class="icon-utcleaner gi-3x text-success" title="Жилищные услуги"></span>

    }
    else
    {
        <span class="icon-utcleaner gi-3x text-muted" title="Жилищные услуги"></span>

    }

    @if (Model.Contains("701"))
    {
        <span class="icon-utpassport gi-3x text-success" title="Услуги паспортного стола"></span>

    }
    else
    {
        <span class="icon-utpassport gi-3x text-muted" title="Услуги паспортного стола"></span>
    }
</div>