﻿@model string

<div id="UFMS">
    <h3>Отдел ФМС:</h3>
    @if (Model == null)
    {
        <div class="form-group">Не найден</div>
    }
    else
    { 
        <div class="form-group">@Model</div>
    }
</div>

