﻿@{
    ViewBag.Title = "ITPC help";
}
<script src="~/Scripts/ScriptsForAutocomplete/CreateAutocomplete.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/fontsizing.css" rel="stylesheet" />
<div class="ui-widget">
    <h3>Выберите город</h3>
    @Html.DropDownList("City", ViewBag.Cities as SelectList, "Выберите город...", new { id = "city" })
</div>

<div class="ui-widget">
    <h3>Выберите улицу</h3>
    @Html.DropDownList("Street", ViewBag.Streets as SelectList, new { id = "street" })
</div>

<div class="ui-widget">
    <h3>Выберите номер дома</h3>
    @Html.DropDownList("House", ViewBag.Houses as SelectList, new { id = "house" })
</div>
<div class="ui-widget">
    <h3>Выберите квартиру</h3>
    @Html.DropDownList("Flat", ViewBag.Flats as SelectList, new { id = "flat" })
</div>
    <br />
    <br />
    <button id="showLschet">Показать лицевой счет</button>

    <br />
    <div class="form-inline">
        <div id="lschet"></div>
        <div id="PassportWork"></div>
        <div id="UFMS"></div>
        <div id="ManagementCompany"></div>
        <div id="Services"></div>
    </div>
<script src="~/Scripts/Site.js"></script>