﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Scripts/ScriptsForAutocomplete/jquery-ui.css" />
    <script src="~/Scripts/ScriptsForAutocomplete/jquery.js"></script>
    <script src="~/Scripts/ScriptsForAutocomplete/jquery-ui.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                                       
                </button>
                @Html.ActionLink("Поиск лицевого счета", "Index", "Autocomplete", new { area = "" }, new { @class = "navbar-brand" })   
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Поиск лицевого счета v1.0", "Index", "Home")</li>
                    <li>@Html.ActionLink("Поиск лицевого счета v1.1", "Index", "Autocomplete")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Тюменский расчетно-информационный центр</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
