@font-face {
  font-family: 'itpcicons';
  src:  url('../fonts/itpcicons.eot?pqmaby');
  src:  url('../fonts/itpcicons.eot?pqmaby#iefix') format('embedded-opentype'),
    url('../fonts/itpcicons.ttf?pqmaby') format('truetype'),
    url('../fonts/itpcicons.woff?pqmaby') format('woff'),
    url('../fonts/itpcicons.svg?pqmaby#itpcicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'itpcicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-utcleaner:before {
  content: "\e900";
}
.icon-utpassport:before {
  content: "\e901";
}
.icon-utbattery:before {
  content: "\e902";
}
.icon-utcrane:before {
  content: "\e903";
}
.icon-utelectricity:before {
  content: "\e904";
}
.icon-uthouse:before {
  content: "\e905";
}
